@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    background-color: transparent;
    list-style: none;
}


li, a {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: darkslategrey;

}

.container {
    display:grid; 
    grid-template-rows: 400px 100px 20px 350px 100px;
    grid-template-areas: 
    "top" "middle-top" "middle-mid" "middle-bottom" "bottom";
}

.timeline {
    display: flex;
    position: relative;
    text-align: center;
    height: 100%;
    grid-area: top;
}
header {
    display: flex; 
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.5s ease-out;
    text-decoration: none;

}

.nav__links li a:hover {
    color: grey;
}
.header-image {
    max-width: 100%;
    object-fit: cover;
}
.timeline-text h1 {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    color: white;

}
.description {
    grid-area: middle-top;
    padding: 30px;
}

.description p {
    text-emphasis: none;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    font-family: 'Cedarville Cursive', cursive;

}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px; 
    margin-bottom: 50px;
    margin-top: 30px;
    grid-area: middle-bottom;


}
.post{
    text-align: center;
    width: 350px;
}

.post {
    display: flex;
    flex-direction: column;
    position: relative;
}
.post img{
    max-width: 350px;
    height: auto;

}

.post h3{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
}

.button {
    border-color: transparent;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color:ivory ;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 18px;

}

.button:hover {
    color: lightskyblue;
}


.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    grid-area: bottom;
}

.socials li a{
    position: relative;
    display: block;
    color: black;
    font-size: 25px;
    height: 50px;
    width: 50px;
    background-color: slategray;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    text-decoration: none;
    
}
